body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #413543;
    color: #FFF;
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 4%;
}

form {
    max-width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #8F43EE;
    border-radius: 10px;
    text-align: center;
}

label {
    text-align: left;
    margin-left: 10%;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eaeaea;
}

input[type="submit"],
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover{
    opacity: 0.7;
}

button:hover {
    background-color: #b3003c;
}

button {
    margin-left: 10px;
    background-color: #ccc;
}

/* Estilos para tornar o formulário responsivo */
@media screen and (max-width: 600px) {
    form {
        max-width: 100%;
        margin: 0;
        padding: 10px;
    }

    input[type="submit"],
    button {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
}